body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    color: #333;
}

header {
    text-align: center;
    background-color: #005792;
    color: white;
    padding: 30px 10px;
}

.section {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h1, h2 {
    margin: 0 0 10px;
}

ul {
    list-style-type: square;
    margin-left: 20px;
}